{
  "App": {
    "CorsOrigins": ["https://[domain]:[port]", "http://[domain]:[port]"]
  },
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=[Path/To/Db.db]"
  },
  "Auth": {
    "Issuer": "[AuthServer]",
    "Audience": "[AuthClient]",
    "Key": "[32BytesLongSecretKeyHere]"
  },
  "AllowedHosts": "[allowedHosts.settings]"
}